In [1]:
from sklearn.cluster import MeanShift
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('checkins_01.txt', sep='|', header = 0).replace(r'^\s+$', np.nan, regex = True).dropna()

C:\Users\gruyuri\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<bound method DataFrame.head of             id       user_id    venue_id        latitude        \
1           984222    15824.0      5222.0          38.8951118
3           984234    44652.0      5222.0           33.800745
7           984291   105054.0      5222.0          45.5234515
9           984318  2146539.0      5222.0           40.764462
10          984232    93870.0    380645.0          33.4483771
11          984483  1030290.0    955969.0          32.2217429
12          984685   304253.0     23558.0               40.65
13          984470   720850.0    749715.0          33.4483771
15          984610  1639666.0    442605.0           33.414768
18          984653  1647192.0     23558.0          42.3584308
19          984251   298547.0     77014.0          33.4483771
20          984528  2046311.0     15682.0           33.414768
25          984438  2096701.0      4432.0          33.4483771
26          984277  1648816.0     18006.0          33.2486638
27          984320   349414.0       819.0          32.8406775
29          984359  1861538.0       819.0          34.0522342
34          984294  1447044.0   1135957.0           33.414768
35          984336  2064557.0    111071.0          33.4483771
38          984527  1243334.0    989443.0           34.483901
40          984326  2046338.0    989443.0          34.0489281
41          984454  2098254.0    610703.0          32.7153292
42          984395  1508584.0    410624.0          33.4483771
46          984231  1868751.0     21948.0          38.8951118
47          984322  1096457.0     10935.0          33.7458511
49          984474  2146888.0     10935.0          34.0961111
50          984355   966186.0     10935.0          34.0522342
52          984345   482032.0     10935.0           37.629349
53          984508  2146895.0     10935.0           4.5980556
54          984381    28655.0     10935.0          33.8041667
55          984346  2098173.0     11195.0           40.735657
...            ...        ...         ...                  ...
1021885    936189    610763.0      7491.0          41.4994954
1021887    936836    610763.0        64.0          41.4994954
1021890    937236    287341.0      9310.0           30.267153
1021895    938393    379311.0     11138.0          39.7391536
1021896    938627    503977.0      6562.0          28.5383355
1021898    938806    287341.0     12004.0           30.267153
1021901    940180   1028835.0     16436.0          42.1292241
1021902    940219    373497.0      7489.0           40.715972
1021912    943071    404031.0   1095987.0          33.4483771
1021915    943920    706143.0      4432.0          35.9606384
1021916    944155    872108.0     54467.0          33.1031744
1021918    944731    502383.0     23558.0          41.6501114
1021923    946195    354912.0     29137.0          39.8678912
1021925    946253    281860.0     29488.0          28.5383355
1021936    949275    872108.0    610705.0          33.1031744
1021939    949841    281860.0      9822.0          28.5383355
1021940    951412    919527.0    112490.0          47.6062095
1021943    952256   1028835.0      8595.0          42.1292241
1021947    953584    174305.0    916378.0          28.3200067
1021949    953695    146164.0      4202.0           30.267153
1021952    954162    285893.0     42311.0          33.4483771
1021953    954283    709109.0    684720.0          33.4483771
1021954    954361     81625.0      5222.0           37.629349
1021955    954428    626076.0    950644.0          40.8501002
1021957    954925    674797.0      7491.0          33.7489954
1021959    955561    626076.0     20073.0          40.8501002
1021960    955892    674797.0      2297.0          33.7489954
1021961    956377    845102.0     11195.0          42.7653662
1021962    956119   1139114.0     29488.0           42.439479
1021964    956733    960666.0        60.0           42.331427

              longitude           created_at
1               -77.0363658    2012-04-21 17:43:47
3                 -84.41052    2012-04-21 17:43:43
7              -122.6762071    2012-04-21 17:39:22
9               -111.904565    2012-04-21 17:35:46
10             -112.0740373    2012-04-21 17:38:18
11              -110.926479    2012-04-21 17:58:54
12                   -73.95    2012-04-21 18:19:34
13             -112.0740373    2012-04-21 17:02:47
15             -111.9093095    2012-04-21 18:04:58
18              -71.0597732    2012-04-21 18:23:22
19             -112.0740373    2012-04-21 17:34:33
20             -111.9093095    2012-04-21 18:18:29
25             -112.0740373    2012-04-21 18:21:19
26             -111.6342993    2012-04-21 17:49:30
27             -117.2587935    2012-04-21 17:27:36
29             -118.2436849    2012-04-21 17:18:22
34             -111.9093095    2012-04-21 17:33:12
35             -112.0740373    2012-04-21 16:25:00
38             -114.3224548    2012-04-21 18:22:59
40             -111.0937311    2012-04-21 17:56:27
41             -117.1572551    2012-04-21 17:49:30
42             -112.0740373    2012-04-21 17:58:10
46              -77.0363658    2012-04-21 15:53:38
47              -117.826166    2012-04-21 18:10:08
49             -118.1058333    2012-04-21 17:39:56
50             -118.2436849    2012-04-21 18:03:47
52              -122.400087    2012-04-21 18:04:38
53              -74.0758333    2012-04-21 17:38:25
54             -118.1580556    2012-04-21 17:59:40
55              -74.1723667    2012-04-21 18:17:31
...                      ...                   ...
1021885         -81.6954088    2012-04-11 05:46:31
1021887         -81.6954088    2012-04-11 11:19:55
1021890         -97.7430608    2012-04-11 13:04:51
1021895        -104.9847034    2012-04-11 17:12:13
1021896         -81.3792365    2012-04-11 18:09:54
1021898         -97.7430608    2012-04-11 17:17:49
1021901          -80.085059    2012-04-11 21:58:20
1021902          -74.001437    2012-04-11 22:14:12
1021912        -112.0740373    2012-04-12 09:25:48
1021915         -83.9207392    2012-04-12 16:53:29
1021916         -96.6705503    2012-04-12 19:06:15
1021918         -70.2411312    2012-04-12 20:34:27
1021923         -75.1315649    2012-04-12 20:34:29
1021925         -81.3792365    2012-04-12 21:50:52
1021936         -96.6705503    2012-04-13 00:55:03
1021939         -81.3792365    2012-04-13 01:32:08
1021940        -122.3320708    2012-04-13 01:29:20
1021943          -80.085059    2012-04-13 02:42:32
1021947         -80.6075513    2012-04-13 05:04:27
1021949         -97.7430608    2012-04-13 03:33:53
1021952        -112.0740373    2012-04-13 03:28:53
1021953        -112.0740373    2012-04-13 06:26:18
1021954         -122.400087    2012-04-13 06:27:38
1021955         -73.8662464    2012-04-13 06:29:25
1021957         -84.3879824    2012-04-13 05:26:29
1021959         -73.8662464    2012-04-13 09:56:48
1021960         -84.3879824    2012-04-13 10:56:03
1021961          -71.467566    2012-04-13 12:08:45
1021962         -83.7438303    2012-04-13 11:36:44
1021964         -83.0457538    2012-04-13 21:56:19

[396634 rows x 6 columns]>

In [3]:
data.head(5)

,id,user_id,venue_id,latitude,longitude,created_at
1,984222,15824.0,5222.0,38.8951118,-77.0363658,2012-04-21 17:43:47
3,984234,44652.0,5222.0,33.800745,-84.41052,2012-04-21 17:43:43
7,984291,105054.0,5222.0,45.5234515,-122.6762071,2012-04-21 17:39:22
9,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
10,984232,93870.0,380645.0,33.4483771,-112.0740373,2012-04-21 17:38:18

In [7]:
X_ds = data[:100000]
X_ds.shape

(100000, 6)

In [16]:
#X_ds.columns = [u'id', u'user_id', u'venue_id', u'latitude', u'longitude', u'created_at']
X = np.array((X_ds['latitude'],X_ds['longitude']))
X = X.T

In [17]:
ms = MeanShift(bandwidth = 0.1, bin_seeding = True, n_jobs = -1)
ms.fit(X)

MeanShift(bandwidth=0.1, bin_seeding=True, cluster_all=True, min_bin_freq=1,
     n_jobs=-1, seeds=None)

In [18]:
labels = ms.labels_
cluster_centers = ms.cluster_centers_
label_unique = np.unique(labels)
n_clusters = len(label_unique)
print n_clusters

3091

In [22]:
members1 = labels == 0
t_arr = X[members1, 0]
print t_arr.size
print cluster_centers[0][0]
print cluster_centers[0][1]

12511
40.7177163973
-73.9918354199

In [25]:
df_centers = pd.DataFrame()

for k in range(n_clusters):
    members = labels == k
    t_arr = X[members, 0]
    if (t_arr.size > 15):
        cluster_center = cluster_centers[k]
        x0 = cluster_center[0]
        y0 = cluster_center[1]
        row = pd.Series([x0, y0],["X","Y"])
        df_centers = df_centers.append([row],ignore_index=True)

In [26]:
print df_centers

             X           Y
0    40.717716  -73.991835
1    33.446380 -111.901888
2    33.448410 -112.074004
3    41.878244  -87.629843
4    37.688682 -122.409330
5    38.886165  -77.048783
6    33.357345 -111.822654
7    33.766636  -84.393289
8    42.363219  -71.073688
9    47.606245 -122.332044
10   36.117229 -115.171073
11   34.060398 -118.248709
12   44.977948  -93.267301
13   30.267184  -97.743119
14   39.735830 -104.986580
15   40.767431  -73.819191
16   39.951680  -75.162736
17   34.035487 -118.438998
18   32.980893 -117.078118
19   32.803021  -96.769897
20   28.543502  -81.376429
21   32.711344 -117.153639
22   32.221713 -110.926535
23   29.762698  -95.382314
24   34.125047 -118.342722
25   25.785812  -80.217938
26   33.811233 -117.890612
27   43.040698  -87.907508
28   45.523483 -122.676280
29   37.408394 -122.106207
..         ...         ...
559  44.058173 -121.315310
560  32.319940 -106.763654
561  42.115474  -79.286368
562  42.026834  -71.204463
563  42.513971  -92.414068
564  60.169954   24.937730
565  37.270702  -76.707457
566  39.783340  -84.055578
567  41.571713  -72.816731
568  45.195990  -93.419419
569   9.958968  -84.105633
570  37.204643  -80.412689
571  43.680856  -72.287952
572  34.935238  -82.234904
573  34.208338 -119.005865
574  36.194470  -94.129005
575  42.765354  -78.782601
576  41.255845  -75.887471
577  33.427949  -84.511261
578  40.021997  -74.826838
579  42.815647  -70.880794
580  40.393273  -79.748959
581  35.111360  -89.797982
582  39.703437  -74.953329
583  41.441740  -71.487386
584  41.486201  -70.597742
585  32.598960  -96.895365
586  40.282860  -74.385149
587  38.658779  -76.885687
588  41.771376  -93.713000

[589 rows x 2 columns]

In [30]:
offices_coords = np.array([[33.751277, -118.188740], 
                           [25.867736, -80.324116],
                           [51.503016, -0.075479],
                           [52.378894, 4.885084],
                           [39.366487, 117.036146],
                           [-33.868457, 151.205134]])
print offices_coords

[[  3.37512770e+01  -1.18188740e+02]
 [  2.58677360e+01  -8.03241160e+01]
 [  5.15030160e+01  -7.54790000e-02]
 [  5.23788940e+01   4.88508400e+00]
 [  3.93664870e+01   1.17036146e+02]
 [ -3.38684570e+01   1.51205134e+02]]

In [32]:
df_offices = pd.DataFrame(offices_coords)
df_offices.columns = [u'X', u'Y']
print df_offices

           X           Y
0  33.751277 -118.188740
1  25.867736  -80.324116
2  51.503016   -0.075479
3  52.378894    4.885084
4  39.366487  117.036146
5 -33.868457  151.205134

In [42]:
print df_offices.get_value(0,'X')
print df_offices.get_value(0,'Y')

33.751277
-118.18874

In [28]:
df_distance = df_centers
df_distance['X_off'] = 0.0
df_distance['Y_off'] = 0.0
df_distance['distance'] = 0.0

print df_distance.head(5)

           X           Y  X_off  Y_off  distance
0  40.717716  -73.991835    0.0    0.0       0.0
1  33.446380 -111.901888    0.0    0.0       0.0
2  33.448410 -112.074004    0.0    0.0       0.0
3  41.878244  -87.629843    0.0    0.0       0.0
4  37.688682 -122.409330    0.0    0.0       0.0

In [37]:
from math import sqrt
def euclid_distance(x1, y1, x2, y2):
    d = (x1-x2)**2 + (y1-y2)**2
    return sqrt(d)

print euclid_distance(0., 0., 1., 1.)

1.41421356237

In [43]:
for (idx, row) in df_centers.iterrows():
    x0 = row.loc['X']
    y0 = row.loc['Y']
    min_d = euclid_distance(x0, y0, df_offices.get_value(0,'X'), df_offices.get_value(0,'Y'))
    for j in range(5):
        dd = euclid_distance(x0, y0, df_offices.get_value(j+1,'X'), df_offices.get_value(j+1,'Y'))
        if (dd < min_d):
            min_d = dd
    df_distance.set_value(idx, 'distance', min_d)

print df_distance.head(5)

           X           Y  X_off  Y_off   distance
0  40.717716  -73.991835    0.0    0.0  16.143720
1  33.446380 -111.901888    0.0    0.0   6.294241
2  33.448410 -112.074004    0.0    0.0   6.122232
3  41.878244  -87.629843    0.0    0.0  17.598580
4  37.688682 -122.409330    0.0    0.0   5.772048

In [45]:
df_sort = df_distance.sort_values(['distance'])
print df_sort.head(20)

             X           Y  X_off  Y_off  distance
405 -33.860630  151.204776    0.0    0.0  0.007835
371  52.372964    4.892317    0.0    0.0  0.009353
299  25.883050  -80.307826    0.0    0.0  0.022358
58   51.502991   -0.125537    0.0    0.0  0.050058
51   33.809878 -118.148924    0.0    0.0  0.070848
25   25.785812  -80.217938    0.0    0.0  0.134109
167  25.705350  -80.283429    0.0    0.0  0.167406
191  33.931836 -118.141898    0.0    0.0  0.186536
91   26.010098  -80.199991    0.0    0.0  0.188876
85   33.888325 -118.048928    0.0    0.0  0.195779
42   33.872986 -118.362091    0.0    0.0  0.211811
538  26.116200  -80.393791    0.0    0.0  0.258049
47   33.643205 -117.946115    0.0    0.0  0.265606
55   26.120863  -80.158907    0.0    0.0  0.302270
26   33.811233 -117.890612    0.0    0.0  0.304098
11   34.060398 -118.248709    0.0    0.0  0.314884
161  26.200585  -80.250716    0.0    0.0  0.340846
33   33.731744 -117.825700    0.0    0.0  0.363565
17   34.035487 -118.438998    0.0    0.0  0.378688
44   34.138009 -118.168987    0.0    0.0  0.387236