In [1]:
import pandas as pd
import numpy as np

In [24]:
import scipy as sc
from statsmodels.stats.weightstats import *

In [2]:
ds = pd.read_csv('illiteracy.txt', sep = '\t', header = 0)
ds.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [3]:
from scipy.stats import pearsonr
from scipy.stats import spearmanr

In [8]:
npMatrix = ds.as_matrix()

In [11]:
spearmanr(npMatrix[:,1], npMatrix[:,2])

SpearmanrResult(correlation=0.75296221373253402, pvalue=2.0858571221460674e-18)

In [12]:
pearsonr(npMatrix[:,1], npMatrix[:,2])

(0.76866302711517909, 1.5029095259924336e-19)

In [13]:
dsWater = pd.read_csv('water.txt', sep = '\t', header = 0)
dsWater.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [14]:
npWater = dsWater.as_matrix()

In [15]:
pearsonr(npWater[:,3], npWater[:,2])

(-0.65484862320424642, 1.0331339260349571e-08)

In [16]:
spearmanr(npWater[:,3], npWater[:,2])

SpearmanrResult(correlation=-0.63166461891665016, pvalue=4.79546153722838e-08)

In [19]:
dsS = dsWater[dsWater.location=='South'].as_matrix()
dsN = dsWater[dsWater.location=='North'].as_matrix()

In [20]:
pearsonr(dsS[:,3], dsS[:,2])

(-0.60215327154841591, 0.0011346743048161903)

In [21]:
pearsonr(dsN[:,3], dsN[:,2])

(-0.36859783832887183, 0.029344659047110606)

In [22]:
from math import sqrt
a = 239.
b = 515
c = 203.
d = 718.
mcc = (a*d-b*c) / sqrt((a+b)*(a+c)*(b+d)*(c+d))
print mcc

0.109002374587

In [23]:
from scipy.stats import chi2_contingency
obs = np.array([[239, 515], [203, 718]])
chi2_contingency(obs)

(19.407530788543038,
 1.0558987006638725e-05,
 1L,
 array([[ 198.96597015,  555.03402985],
        [ 243.03402985,  677.96597015]]))

   # Доверительный интервал для разности долей

In [35]:
alpha = 0.05
z = sc.stats.norm.ppf(1-alpha/2.)
n1 = a+b
n2 = c+d
p2 = float(c/n2)
p1 = float(a/n1)

_left = (p1-p2) - z*np.sqrt(p1*(1-p1)/n1 + p2*(1-p2)/n2)
_right = (p1-p2) + z*np.sqrt(p1*(1-p1)/n1 + p2*(1-p2)/n1)
print _left
print _right

0.0539052332158
0.141043518952

In [27]:
p = float(p1*n2 + p2*n1)/(n1+n2)
z_stat = (p1-p2)/np.sqrt(p*(1-p)*(1./n1+1./n2))

In [28]:
p_value = 2*(1-sc.stats.norm.cdf(np.abs(z_stat)))
print p_value

8.15345308958e-06

In [29]:
obs = np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])
chi2_contingency(obs)

(293.68311039689746,
 2.4964299580093467e-62,
 4L,
 array([[  93.08597464,  153.74722662,   94.16679873],
        [ 381.6251981 ,  630.318542  ,  386.0562599 ],
        [ 214.28882726,  353.93423138,  216.77694136]]))

In [33]:
N_V = np.sum(obs)

In [34]:
np.sqrt(293.68311039689746/(N_V*2))

0.2412013934500338